@import url('https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@400..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Silkscreen:wght@400;700&display=swap');


.heading{
    font-family: "Pixelify Sans", sans-serif;
}

.heading1{
    font-family: "Chakra Petch", sans-serif;
font-weight: 400;
}


.heading2{
  font-family: "Chakra Petch", sans-serif;
font-weight: 400;
font-size: 12px;
}



.no-style {
    all: unset; /* Resets all properties to their initial or inherited values */
    display: inline; /* Ensures it remains inline */
    height: 1000px;
  }

  .slide{
    filter: drop-shadow(1px 10px 10px rgba(211, 227, 105, 0.4));
 
 
  }
  
